/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    height: 70%;
  }
  
  .display {
    background: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: auto;
    border-radius: 15px;
    margin-top: 50px;
    width:80%;
    margin-left: 15px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  .btn {
    padding: 15px;
    font-size: 18px;
    background: #f4f4f4;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease;
    
  }
  
  .btn.operator {
    background: #f8d7da;
  }
  
  .btn.equal {
    background: #d4edda;
    grid-column: span 2;
  }
  
  .btn.zero {
    grid-column: span 2;
  }
  
  .btn:hover {
    background: #e0e0e0;
  }
  